<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.example.yongDiary.MemberMapper">
<!-- 		<select id="userLogin" parameterType="member" resultType="member"> -->
<!-- 			SELECT	* -->
<!-- 			FROM 	member -->
<!-- 			WHERE   memId = #{memId} -->
<!-- 		</select> -->
		
		<select id="findByMemId" parameterType="Member" resultType="Member">
			SELECT	*
			FROM 	member
			WHERE   memId = #{memId}
		</select>
		
		<select id="keywordTotal" parameterType="String" resultType="int">
			SELECT count(*)
			FROM   SearchList
			WHERE  keyword = #{keyword}
		</select>
		
		<insert id="searchInsert" parameterType="map">
			INSERT INTO SearchList values(#{memNum}, #{keyword}, sysdate, 0)
		</insert>
		
	<update id="searchUpdate" parameterType="String">
	    UPDATE SearchList
	    SET searchDate = sysdate,
	        delState = CASE WHEN delState = 1 THEN 0 ELSE delState END
	    WHERE keyword = #{keyword}
	</update>
		
		<select id="searchList" resultType="SearchList">
			SELECT *
			FROM SearchList
			WHERE delState = 0
			Order By searchDate desc
		</select>
		
		<update id="deleteSearch" parameterType="String">
			UPDATE  SearchList
			SET    delState = 1
			WHERE  keyword = #{keyword}
		</update>
	
	</mapper>